body{
    background-color: rgb(61, 53, 53);
}
.parent{
    display: flex;
    flex-wrap: wrap;
    margin-left: 12vw;
    width: 80vw;
    height:75vh ;}
img{
    width: 10vw;
    height: 10vh;
    padding-left: 2vw;
}
h1{
    font-size: 1.0rem;
    color: white;
}
p{
    color: white;
    font-size: 100%;
    width: 90%;
}
a{
    text-decoration: none;
    color: white;
    background-color: black;
}
#p1{
    clip-path: polygon(50% 0%, 80% 10%, 100% 35%, 100% 70%, 80% 90%, 50% 100%, 20% 90%, 0% 70%, 0% 35%, 20% 10%);
    background-image: url("https://wallpaperaccess.com/full/2117773.jpg");
    background-size: cover;
    background-size:100% 100%;
}
#p2{
    background-image: url("https://images.all-free-download.com/images/graphiclarge/beautiful_natural_scenery_01_hd_picture_166232.jpg");
    background-size: cover;
    background-size:100% 100%;
    clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);

}
#p3{
    background-image: url("https://wallpaper.dog/large/10806274.jpg");
    clip-path: polygon(50% 0%, 100% 36%, 82% 100%, 18% 100%, 0% 38%);
    background-size: cover;
    background-size:100% 100%;
}
#p4{
    background-image: url("https://c4.wallpaperflare.com/wallpaper/758/323/699/nature-scenery-beautiful-mountain-wallpaper-wallpaper-preview.jpg");
    background-size: cover;
    background-size:100% 100%;
    clip-path: circle(50.0% at 50% 50%);
}
#p5{
   background-image: url("https://images.unsplash.com/photo-1604093882750-3ed498f3178b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1000&q=80"); 
   background-size: cover;
    background-size:100% 100%;
    clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
}
#p6{
    background-image:url("https://travel.home.sndimg.com/content/dam/images/travel/fullset/2015/08/03/america-the-beautiful-ss/adirondack-park-new-york-state.jpg.rend.hgtvcom.966.725.suffix/1491580836599.jpeg") ;
    background-size: cover;
    background-size:100% 100%;
    clip-path: polygon(50% 0%, 100% 36%, 82% 100%, 18% 100%, 0% 38%);

}
.parent div{
  width: 20vw;
  height: 40vh;
  margin: 4vw 4vh;
  text-align: center;
}
/*div background img hover*/
.parent div:hover{
    opacity: 0.8;
}
.inner_text{
opacity: 0;
margin-top: 2vh;
text-align: center;
}

.inner_text:hover{
    opacity: 1;
}


.b{
    background-color: purple;
    border: 2px solid purple;
    border-radius: 10%;
    width: 10vw;
    height: 10vh;
    margin-top: 10vh;
    color: white;
    font-size: 1rem;
}