h1{
    margin-left: 35vw;
}
.parent{
    display: flex;
    justify-content: center;
    margin-left: 35vw;
}
form{
    width:60vw ;
    height:60vh ;
}
input{
    margin-top: 2vh;
}

textarea{
   margin-top: 3vh;
}
button{
    margin-left: 14vw;
    margin-top: 4vh ;
}
